body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.logo{
    color: white;
    font-weight: 300px;
    font-size: 18px;
    margin-right: 20px;
    padding-left: 10px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    color: white;
    font-weight: 300px;
    font-size: 18px;
    margin-right: 20px;
    padding-left: 10px;
    text-decoration: none;
}

.form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: cadetblue;
    width: 60%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 5px;
    border-style: dotted;
}

.add{
    text-align: center;
    color: aqua;
}
form{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}
label, input{
    display: block;
}
button{
    background-color: brown;
    border: 2px solid yellow;
    padding: 10px;
    cursor: pointer;
    transition: all .5s ease;
    text-align: center;
}

button:hover{
    background-color: yellowgreen;
    color: white;
    cursor: pointer;
}

.err{
    color: white;
    margin: 10px 0px;
    font-size: 15px;
    font-weight: 700px;
    text-align: center;
    background-color: red;
    border-style: groove;
}

.scc{
    text-align: center;
    color: white;
    background-color: green;
    margin: 10px 0px;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
}

.container{
    display: flex;
    background-color: beige;
    margin: 40px auto;
    padding: 20px;
    width: 80%;
}

table{
    margin: 0px auto;
    width: 100%;
    background-color: white;
    padding: 20px;
}

table thead tr td,
table tbody tr td{
    border:  1px solid #d4d4d4;
    border-radius: 3px;
    padding: 5px;
}

.th{
    font-weight: 700;
    color: orange;
}

.link{
    text-decoration: none;
    margin-right: 10px;
    padding: 10px;
    border: 2px solid blue;
}

.link:hover{
    background-color: blue;
    color: white;
}